*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-div{
    background-color: blue;
    display: flex;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.name{
    margin-bottom: 30px;
}
.left-div{
    background-color: black;
    color: white;
    width: 50%;
    padding: 10px;
}
.mid-div{
    display: flex;
}
section{
    margin-bottom: 30px;
}
.right-div{
    width: 50%;
    padding: 10px;
}
.left-div ul{
    padding-left: 10px;
    margin-top: 10px;
}
li{
    padding: 3px;
}
footer{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}